#header .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-weight: 600;
    font-size: 24px;
}

#header .header-container-item {
    width: 321px;
    height: 188px;
    padding: 15px;
    flex-shrink: 0;
}

#header .header-main-pic {
    margin: 0;
    display: flex;
}
#header .picture {
    width: 400;
    height: auto;
}